@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Roboto:ital,wght@0,800;1,800&display=swap');

body {
    background: linear-gradient(to bottom,#2196F3, #EAB308);
  }
  
  /* header {
    color: #000;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
  } */

  .header-text {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }  

  .pokemon-logo{
    display: flex;
    justify-content: center;
  }

  .search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }
  
  .search-box {
    width: 30%;
    height: 50px;
    font-size: 1.5em;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 40px 0;
    text-align: center;
  }
  
  .pokemon-item {
    float: left;
    margin: 10px;
  }
  .pokemon-item a {
    color: #000;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;    font-size: 16px;
    transition: color 0.3s ease;
    text-transform: lowercase;
  }
  
  .pokemon-item a:hover {
    color: #ffffff;
  }
  
  ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 5px;
    list-style: none;
  }
  
  .pokemon-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ffffff;
    border-radius: 10px;
    color: #ffffff;
    text-transform: capitalize;
  }
  
  .pokemon-details img {
    width: 100px;
    height: 100px;
  }
  
  .pokemon-details p {
    margin: 5px;
  }